/* Import react-datepicker default styles */
@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker__tab-loop {
    position: absolute;
    top: 0;
    left: 0;
    height: 0 !important;
    width: 0 !important;
    overflow: visible;
}

.react-datepicker-popper {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999;
}

.react-datepicker__triangle {
    display: none !important;
}

.react-datepicker-wrapper {
    width: 100%;
}
